.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

::ng-deep mat-toolbar {
  @supports (position: sticky) or (position: -webkit-sticky) {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
  }

  mat-toolbar {
    margin-bottom: 5px;
  }

  .padding-right{
    padding-right: 10px;
  }

}

.header-image {
  background-image: url("https://previews.123rf.com/images/seregraff/seregraff1703/seregraff170300130/73890814-portrait-of-happy-shiba-inu-dog-on-isolated-white-background-front-view.jpg");
  background-size: cover;
}
