<mat-card class='mat-elevation-z12'>

  <!-- img -->

  <ng-container *ngIf='true'>
    <div class='img-container'>
      <div class='img' style='background-image: url("https://media.pitchfork.com/photos/5c49d4dea8b1520c39cc9b4d/1:1/w_500/Better-Oblivion-Community-Center.jpg")'></div>
    </div>
  </ng-container>

  <!-- info -->

  <div class='info-container'>
    <h2>Better Oblivion Community Center Review - Pitchfork</h2>
    <p>Phoebe Bridgers and Conor Oberst crave the existential soap opera of modern politics just like the rest of us.</p>
  </div>

  <!-- actions -->

  <i class='far fa-heart'></i>


</mat-card>
