<mat-card class='mat-elevation-z12'>

  <!-- img -->

  <ng-container *ngIf='card.urlToImage'>
    <div class='img-container'>
      <img [src]="card.urlToImage">
    </div>
  </ng-container>

  <!-- info -->

  <div class='info-container'>
    <h2><a [href]="card.url" target="_blank">{{card.title}}</a></h2>
    <p>{{card.description}}</p>
  </div>

  <!-- actions -->

  <i *ngIf='!selected' class='far fa-heart' (click)='clicked()'></i>
  <i *ngIf='selected' class='far fa-heart selected' (click)='clicked()'></i>

</mat-card>
