<mat-card class='mat-elevation-z12'>

  <!-- img -->

  <ng-container *ngIf='card.urlToImage'>
    <div>
      <img [src]="card.urlToImage">
    </div>
  </ng-container>

  <!-- info -->

  <div class='info-container'>
    <h2><a [href]="card.url" target="_blank">{{card.title}}</a></h2>
    <p>{{card.description}}</p>
  </div>

  <!-- actions -->

  <button [color]="" *ngIf='!selected' mat-icon-button class="heart pink" (click)='clicked()'>
    <mat-icon class="grey">favorites</mat-icon>
</button>
  <button *ngIf='selected' mat-icon-button class="heart grey" (click)='clicked()'>
    <mat-icon class="pink">favorites</mat-icon>
</button>


</mat-card>
