mat-card {
  padding: 24px;
  display: flex;
  margin: 5px 0 14px;

}

.img-container {
  height: 100px;
  width: 100px;
  margin-right: 24px;

}

img {
  height: 100%;
  border-radius: 4px;

}

a {
  color: lightgrey;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: #aaa;
  }
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-right: 40px;

}

.heart {
  position: absolute;
  top: 16px;
  right: 16px;

  &:hover {
    color: tomato;
  }
}

// type (maybe make global later)

h2 {
  margin: 0 0 12px 0;
  font: {
    family: 'Work Sans';
    size: 18px;

  }

}

p {
  margin: 0;
  font-size: 14px;
  opacity: .5;

}

.selected {
  color: red;

  &:hover {
    color: black;
  }
}
