<app-navbar></app-navbar>

<mat-tab-group mat-align-tabs='center'>

  <mat-tab label='Likes'>
    <div class='container'>
      <div class='articles' *ngIf="likesReceived">

        <!-- user's like go in here -->
        <app-article *ngFor="let l of likes" [card]="l"></app-article>

      </div>
    </div>
    <div class="container" *ngIf="likes.length == 0">
      <div class="articles center">
        <h3>Looks like you haven't liked anything.</h3>
        <p>Wanna try liking something?</p>
        <button mat-flat-button color="accent" routerLink="/headlines">Go!</button>
      </div>
    </div>
  </mat-tab>

  <mat-tab label='Most liked'>
    <div class='container'>
      <ngx-spinner
        size="medium"
        color="#fff"
        type="ball-spin-clockwise"
        fullScreen="false"
      >

        <p style="color: white"> If it doesn't load, refresh the page</p>
      </ngx-spinner>
      <div class='articles' *ngIf="overallReceived">

        <!-- most liked go in here -->
        <app-article *ngFor="let o of overall" [card]="o"></app-article>

      </div>
    </div>
  </mat-tab>

</mat-tab-group>
