.spacer {
  height: 50px;
}

.center {
  align-items: center;
  justify-content: center;
  align-content: center;
}

.largeFont {
  font-size: 36px;
}

.searchBar {
  width: 80%;
  margin-right: 10px;
  margin-left: 20px;

}
