<app-navbar></app-navbar>

<mat-card>
  <div class="spacer">
  </div>
  <h1 align="center" class="largeFont">
    Search!
  </h1>
  <mat-form-field class="searchBar">
    <input [(ngModel)]="query" (keyup.enter)="search(query)" type="search" matInput placeholder="Search Newsies">
  </mat-form-field>
  <button type="submit" mat-flat-button color="primary" (click)="search(query)">Search
    <mat-icon>search</mat-icon>
  </button>
</mat-card>

<ngx-spinner
      size = "medium"
      color = "#fff"
      type = "ball-spin-clockwise"
      fullScreen = "false"
    >
  </ngx-spinner>

<div class="container" *ngIf="contentRecieved">
  <app-article *ngFor="let c of cards" [card]="c"></app-article>
</div>


