<app-navbar></app-navbar>

<div class='container'>
  <div class='articles'>

    <!-- select category -->

    <mat-form-field appearance='outline'>
      <mat-label>Category</mat-label>
      <mat-select (selectionChange)="onChange($event.value)">
        <mat-option value="business">Business</mat-option>
        <mat-option value="technology">Technology</mat-option>
        <mat-option value="entertainment">Entertainment</mat-option>
        <mat-option value="sports">Sports</mat-option>
        <mat-option value="science">Science</mat-option>
        <mat-option value="health">Health</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- articles go below-->

    <ngx-spinner
      size = "medium"
      color = "#fff"
      type = "ball-spin-clockwise"
      fullScreen = "false"
    >
    </ngx-spinner>

    <ng-container *ngIf="contentRecieved">
      <app-article *ngFor="let c of cards" [card]="c"></app-article>
    </ng-container>

  </div>
</div>
