<div class='container'>
  <div class='articles'>

    <!-- select category -->

    <mat-form-field appearance='outline'>
      <mat-label>Category</mat-label>
      <mat-select>
        <mat-option>World</mat-option>
        <mat-option>Business</mat-option>
        <mat-option>Technology</mat-option>
        <mat-option>Entertainment</mat-option>
        <mat-option>Sports</mat-option>
        <mat-option>Science</mat-option>
        <mat-option>Health</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- articles go below-->

  </div>
</div>
